body {
    background-color:#262B4B;

}

.container {
    display: grid;
    grid-column-gap: 15vw;
    grid-row-gap: 15vh;
    grid-template-columns: auto auto auto;
    margin-top: 10vh;
    justify-content: center;
}

.icon {

    border-radius: 50px;
    width: 250px;

}


iframe {
    margin-left: 10%;
    height: 90vh;
    border-radius: 50px;
    width: 80%;
    justify-self: center;
}

.home_button {
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5vh;
    border-radius: 20px;
    border-color: #ffffff;
    height:10px;
}

#map {
    width: 80%;
    margin-left: 10%;
    height: 90vh;
    border-radius:5%;
    margin-top: 5vh;
}