body {
    background-color:#262B4B;

}

.chartfox {
    position: absolute;
    margin-top: 150px;
    margin-left: 20%;
    border-radius: 130px;
    size: 500px;
}

.navigraph {
    position: absolute;
    margin-top: 150px;
    margin-left: calc(50% - 250px);
    border-radius: 130px;
    height: 640px;
}

.map {
    position: absolute;
    margin-top: 150px;
    margin-left: 70%;
    border-radius: 130px;
    height: 640px;
}

.landing {
    position: absolute;
    margin-top: 1300px;
    margin-left: 20%;
    border-radius: 130px;
    height: 640px;
}
.Settings {
    position: absolute;
    margin-top: 1300px;
    margin-left: calc(50% - 250px);
    border-radius: 130px;
    height: 640px;
}
.Annotate {
    position: absolute;
    margin-top: 1300px;
    margin-left: 70%;
    border-radius: 130px;
    height: 640px;
}

iframe {
    width: 80%;
    margin-left: 10%;
    height: 90vh;
    border-radius: 100px;
    margin-top: 5vh;
}

.home_button {
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5vh;
    border-radius: 20px;
    border-color: #ffffff;
    height:15px;
}

#map {
    width: 80%;
    margin-left: 10%;
    height: 90vh;
    border-radius: 100px;
    margin-top: 5vh;
}