body {
    background-color:#262B4B;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

form {
    color: white;
}

.container2 {
    display: grid;
    grid-column-gap: 15vw;
    grid-row-gap: 15vh;
    grid-template-columns: auto auto auto;
    margin-top: 10vh;
    justify-content: center;
}

.icon {

    border-radius: 50px;
    width: 250px;

}


iframe {
    margin-left: 10%;
    height: 90vh;
    border-radius: 50px;
    width: 80%;
    justify-self: center;
}

.home_button {
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5vh;
    border-radius: 20px;
    border-color: #ffffff;
    height:10px;
}

#map {
    width: 80%;
    margin-left: 10%;
    height: 90vh;
    border-radius:5%;
    margin-top: 5vh;
}



h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: Ubuntu;
}

#TotalNotes {
    color: white;
    position: relative;
    top: 10px;

}

#OnlineNotes:hover {
    color: #ecebeb;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    height: 50vh;
    box-sizing: border-box;
    border-radius: 30px;
}